body{
      background-color: rgb(222, 208, 199);
}
.page {
  min-height: 100vh;
  position: relative;
}

.card {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.header,
.footer {
  width: 100%;
  text-align: center;
  padding: 18px 0;
  font-size: 18px;
  letter-spacing: 2px;
  background: white;
  border-bottom: 1px solid #ddd;
}

.footer {
  border-top: 1px solid #ddd;
  border-bottom: none;
  margin-top: auto;
}


.text {
  font-size: 28px;
  text-align: center;
  margin-bottom: 10px;
}

.subtitle {
  text-align: center;
  color: #555;
  margin-bottom: 30px;
  font-size: 16px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 26px;
}

/* INPUTS (your underline style, upgraded) */
.input {
  background: transparent;
  border: none;
  border-bottom: 2px solid #999;
  padding: 10px 4px;
  font-size: 20px;
  outline: none;
  transition: all 0.3s ease;
  text-align: center;
}

.input::placeholder {
  color: #aaa;
  font-size: 16px;
   text-align: center;}

.input:focus {
  border-bottom-color: #000;
}

/* SELECT */
.select {
  background: transparent;
  border: none;
  border-bottom: 2px solid #999;
  padding: 10px 4px;
  font-size: 18px;
  outline: none;
  cursor: pointer;
}

.select:focus {
  border-bottom-color: #000;
}

#tipo{
    text-align: center;
}
/* Button */
.siguiente {
  margin-top: 12px;
  padding: 14px 0;
  font-size: 18px;
  font-family: "Playfair Display", serif;
  letter-spacing: 1px;
  background: transparent;
  border: 2px solid black;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.25s ease;
}

.siguiente:hover {
  background: black;
  color: white;
}

/* Mobile */
@media (max-width: 480px) {
  .card {
    padding: 30px 22px;
  }

  .text {
    font-size: 22px;
  }

  .siguiente {
    font-size: 16px;
  }}