@import url('https://fonts.googleapis.com/css2?family=Micro+5&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
.zoom-out-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.zoom-out-text {
  font-size: 3rem;
  color: rgb(0, 0, 0);
  text-align: center;
  transform-origin: center;
  animation: zoomOut 1.5s ease-out forwards;
  font-family: "Playfair Display", serif;
  font-weight: lighter;
}

@keyframes zoomOut {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(0.7);
    opacity: 0;
  }
}

.container-sub {
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  padding: 1.5rem;
  text-align: center;
}

.text {
  font-family: "Playfair Display", serif;
  color: rgb(0, 0, 0);
  font-weight: 300;
  font-size: clamp(1.6rem, 4vw, 2.4rem);
}
.input {
  width: 100%;
  max-width: 380px;

  background: transparent;
  color: #000;

  border: none;
  border-bottom: 3px solid rgba(0, 0, 0, 0.4);

  padding: 14px 4px;

  font-size: 28px;
  letter-spacing: 6px;
  text-align: center;

  font-family: "Courier New", monospace;

  outline: none;
  transition: all 0.25s ease;
}

.input::placeholder {
  font-size: 18px;
  letter-spacing: 1px;
  color: rgba(0, 0, 0, 0.4);
}

.input:focus {
  border-bottom-color: #000;
}
